BESU_RPC_URL=http://127.0.0.1:8545
CHAIN_ID=1337
BUSINESS_CONTRACT_ADDRESS=0xYourBusinessContract
TRUSTED_GATEWAY_RELAYER=0xYourRelayerAddress
RELAYER_PRIVATE_KEY=0xYourRelayerPrivateKey
GATEWAY_PORT=3001
