BESU_RPC_URL=http://127.0.0.1:8545
CHAIN_ID=1337
BUSINESS_CONTRACT_ADDRESS=0xYourBusinessContract
RELAYER_PRIVATE_KEY=0xYourRelayerPrivateKey
BACKEND_PORT=4000
NATIVE_PQC_CONTRACT_ADDRESS=0xYourNativePqcContract
